<!DOCTYPE html>
<html lang="en">
<head>
  <title>Red-Light</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="row" style="padding: 5px;"></div>
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="{{ url_for('index') }}">Red-Light</a>
        <ul class="nav nav-tabs">
          <li id="navSearch"><a href="{{ url_for('index') }}">Search</a></li>
          <li id="navAbout"><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="span1">
      </div>
      <div class="span11">
        {%block body%}
        {%endblock%}
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="container">
      <ul class="footer-links">
        <li>Designed and built by <a href="http://sburns.github.com/">Scott Burns</a></li>
        <li><a href="http://project-redcap.org">Information About REDCap</a></li>
        <li><a href="http://github.com/sburns/red-light">View the code on Github</a></li>
        <li><a href="http://heroku.com">Deployed on Heroku</a></li>
      </ul>
      <p class="muted">Version {{ version }} </p>
    </div>
  </div>
  <!-- Place JS at bottom of page -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript">
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

  {%block inline_js%}
  {%endblock%}
</body>
</html>